body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
}
header {
  background-color: #005379;
  color: #fff;
  padding: 10px 20px;
}
header h1 {
  margin: 0;
  font-size: 24px;
}
.header-image {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

#image-ingress {
  font-style: italic;
  color: #555;
  margin-top: 10px;
  padding-left: 20px;
}
article {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
article h2 {
  color: #333;
}
.meta {
  color: #777;
  font-size: 14px;
  padding-left: 20px;
}

#salesposter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: slideIn;
  animation-duration: 0.3s;
  border: 1px solid black;
}

#salesposter span {
  font-weight: bold;
}

#salesposter h3 {
  font-weight: normal;
}

#salesposter img {
  max-width: 200px;
}

#salesposter small {
  margin-top: 5px;
}

#salesposter ul {
  width: 100%;
}

#sign-in_container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.btn {
  cursor: pointer;
  transition: all 0.3s;
  color: white;
  border: none;
  padding: 10px 20px;
}

.btn:hover {
  filter: brightness(1.2);
}

.btn-primary {
  background-color: #1da750;
  font-size: 1.2rem;
  border-radius: 5px;
  width: 100%;
}

.btn-secondary {
  background-color: #005379;
  font-size: 1rem;
  border-radius: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #666;
}

@keyframes slideIn {
  from {
    top: 80%;
  }
  to {
    top: 50%;
  }
}
